<div>
    <div class="col m12">
  <div class="card grey lighten-5">
    <div class="card-content">
    </div>
    <div class="card-action">
      <div class="container">
        <div class="row">
          <div class="input-field col s5">
            <form>
              <div id="search">
                <span><i class="mdi-action-search prefix"></i></span>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Search for categories</label>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
        	<div class="col s4">
            <h4>Categories</h4>
            <div id="adjust1">
            <ul class="collection with-header">
              <li class="collection-header" ng-repeat="item in category" >
                <a href="#/home" data-ng-click="showPost(item._id)"><h5>{{item.categoryName}}</h5></a>
              </li>
            </ul>
          </div>
          </div>
          <div class="col s8 offset-s1 " id="coll">
          <ul class="collection with-header">
		        <li class="collection-header grey lighten-1"><h4>Posts</h4></li>
		        <li class="collection-item"ng-repeat="item in post">{{item.content}}
		        	<span><br><br><a href="#/home" data-ng-click="posts = !posts">comment</a></span>
						  <form class="col s12" ng-show="posts" ng-submit="comments(item._id)">
						    <div class="row">
						      <div class="input-field col s12">
						        <textarea id="textarea1" class="materialize-textarea" ng-model="item.post.comments"></textarea>
						        <label for="textarea1">write comment</label>
						      </div>
						    </div>
						    <input type="submit" value="comment" class="waves-effect waves-light btn">
						  </form>
		        </li>
		      </ul>
        	<form class="col s12" ng-submit="addPost()">
				    <div class="row">
				      <div class="input-field col s12">
				        <textarea id="textarea1" class="materialize-textarea"></textarea>
				        <label for="textarea1">post your question</label>
				      </div>
				    </div>
				  </form>
				  </div>
				  </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
