<div>
	<div class="row">
  <div class="col s12 m6 offset-m3">
  <div class="valign-wrapper">
  <div class="valign">
    <div class="card  brown lighten-5" id="adjust">
      <div class="card-content white-text">
          <span class="card-title">Create an account</span>
          
      </div>
      <div class="card-action">
      	<div class="row">
				  <form class="col s12" ng-submit="login()">
				    <div class="row">
				      <div class="input-field col s6">
				        <input id="username" type="text" class="validate" ng-model="username">
				        <label for="username">Username</label>
				      </div>

				      <div class="input-field col s6">
				        <input id="password" type="password" class="validate" ng-model="password">
				        <label for="password">Password</label>
				      </div>
				    </div>
				    <input type="submit" value="Sign in" class="waves-effect waves-light btn">
				
				  </form>
				</div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

</div>