<div class="col m12">
  <div class="card grey lighten-5">
    <div class="card-content">
      <span class="grey-text text-darken-4" class="card-title"><h3 class="center-align">Think Fashion</h3></span>
      <h4 class="center-align"><p class="grey-text text-darken-4" id="heading2"><i>FASHION IS WHAT YOU BUY<br>STYLE IS WHAT YOU DO WITH IT</i></p></h4>
    </div>
    <div class="card-action">
      <div class="container">
        <div class="row">
          <div class="input-field col s5">
            <form>
              <div id="search">
                <span><i class="mdi-action-search prefix"></i></span>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Search for categories</label>
              </div>
            </form>
            <h4>Categories</h4>
            <div id="adjust1">
            <ul class="collection with-header">
              <li class="collection-header" >
                <h4>{{item.categoryName}}</h4>
              </li>
            </ul>
          </div>
          <div class="col s7 grid-example"><img id="sideImg" ng-src="../images/meanStack.jpg">
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
