<div class="row">
  <div class="col m12" id="adjust">
    <div class="card grey lighten-5">
      <div class="card-content white-text">
         <span class="grey-text text-darken-4" class="card-title"><h3 class="center-align">Create an account</span>
      </div>
      <div class="card-action">
        <div class="row">
          <form class="col s12" ng-submit="register()">
            <div id="align">
              <div class="input-field col s6 offset-s4">
                <i class="small mdi-action-perm-identity"></i>
                <input id="first_name" type="text" class="validate" ng-model="firstName">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6 offset-s4">
                <i class="small mdi-action-perm-identity"></i>
                <input id="last_name" type="text" class="validate" ng-model="lastName">
                <label for="last_name">Last Name</label>
              </div>
              <div class="input-field col s6 offset-s4">
                <i class="small mdi-action-perm-identity"></i>
                <input id="username" type="text" class="validate" ng-model="username">
                <label for="username">Username</label>
              </div>
              <div class="input-field col s6 offset-s4">
                <i class="small mdi-communication-phone"></i>
                <input id="phone-Number" type="text" class="validate" ng-model="phoneNumber">
                <label for="phone-Number">Phone-Number</label>
              </div>
              <div class="input-field col s6 offset-s4">
                <i class="small mdi-action-lock"></i>
                <input id="password" type="password" class="validate" ng-model="password">
                <label for="password">Password</label>
              </div>
              <div class="input-field col s6 offset-s4">
                <i class="small mdi-communication-email"></i>
                <input id="email" type="email" class="validate" ng-model="email">
                <label for="email">Email</label>
              </div>
              <input type="submit" value="Sign Up" class="waves-effect waves-light btn">
            </div>
              <!-- <a class="waves-effect waves-light btn" onclick="toast('<span>Item Deleted</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;>Undo<a>', 5000)">Toast!</a> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

