#adjust {
	padding-top: 2em;
}

#shift {
	padding: 10em 13em;
}

#sideImg {
	height: 30em;
	width: 37em;
	padding-top: 3em;
}
#heading {
	font-family: 'Playfair Display', serif;
}
#heading2 {
font-family: 'Playfair Display', serif;
}
#search {
	padding-top: 4em;
	margin-left: -10em;

}
#align {
	margin-right: 15em;
}

i{
	margin-left: -2em;
}
#adjust1 {
	margin-left: -10em;
}
#coll {
	width: 32em;
	padding-top: 5em;
}
#btn{
	margin-top: 35em;
	margin-left: -22em;
}#btnLogin {
	margin-top: 15em;
	margin-left: -30em;

}
